### MANAGED BY {{ role_path | basename }} ANSIBLE ROLE ###

[global_tags]
{% if telegraf_global_tags is defined and telegraf_global_tags is iterable %}
{% for item in telegraf_global_tags %}
  {{ item.tag_name }} = "{{ item.tag_value }}"
{% endfor %}
{% endif %}

[agent]
  interval = "{{ telegraf_agent_interval }}s"
  round_interval = {{ telegraf_agent_round_interval | bool | lower }}
  metric_batch_size = {{ telegraf_agent_metric_batch_size }}
  metric_buffer_limit = {{ telegraf_agent_metric_buffer_limit }}
  collection_jitter = "{{ telegraf_agent_collection_jitter }}s"
  flush_interval = "{{ telegraf_agent_flush_interval }}s"
  flush_jitter = "{{ telegraf_agent_flush_jitter }}s"
  precision = ""
  debug = {{ telegraf_agent_debug | bool | lower }}
  quiet = {{ telegraf_agent_quiet | bool | lower }}
{% if telegraf_agent_logfile | length > 0 %}
  logfile = "{{ telegraf_agent_logfile }}"
{% endif %}
  hostname = "{{ telegraf_agent_hostname }}"
  omit_hostname = {{ telegraf_agent_omit_hostname | bool | lower }}

###############################################################################
#                                  OUTPUTS                                    #
###############################################################################
{% for item in telegraf_agent_output %}
[[outputs.{{ item.type }}]]
{% for items in item.config %}
  {{ items }}
{% endfor %}
{% if item.tagpass is defined and item.tagpass is iterable %}
  [outputs.{{ item.type }}.tagpass]
{% for items in item.tagpass %}
    {{ items }}
{% endfor %}
{% endif %}
{% if item.tagdrop is defined and item.tagdrop is iterable %}
  [outputs.{{ item.type }}.tagdrop]
{% for items in item.tagdrop %}
    {{ items }}
{% endfor %}
{% endif %}
{% endfor %}

###############################################################################
#                                  INPUTS                                     #
###############################################################################
{% for item in telegraf_plugins_default %}
[[inputs.{{ item.plugin }}]]
{% if item.interval is defined %}
  interval = "{{ item.interval }}s"
{% endif %}
{% if item.config is defined and item.config is iterable %}
{% for items in item.config %}
  {{ items }}
{% endfor %}
{% endif %}
{% if item.tagpass is defined and item.tagpass is iterable %}
  [inputs.{{ item.plugin }}.tagpass]
{% for items in item.tagpass %}
    {{ items }}
{% endfor %}
{% endif %}
{% if item.tagdrop is defined and item.tagdrop is iterable %}
  [inputs.{{ item.plugin }}.tagdrop]
{% for items in item.tagdrop %}
    {{ items }}
{% endfor %}
{% endif %}
{% endfor %}
