
===============================================================================
  This system is managed by {{ motd_org }}
-------------------------------------------------------------------------------
  Support:  {{ motd_sysadmins_signature }}
  Email:    {{ motd_sysadmins_email }}

  Info:     https://vagrant-zones.startcloud.com/changes
  Template: https://boxvault.startcloud.com/{{ vendor | default('STARTcloud') }}/{{ distro }}{{ distro_version }}-{{ vm_type }}
===============================================================================
