
===============================================================================
  This system is managed by {{ motd_org }}
-------------------------------------------------------------------------------
  Support:  {{ motd_sysadmins_signature }}
  Email:    {{ motd_sysadmins_email }}

  Info:     https://vagrant-zones.startcloud.com/changes
  Template: https://boxvault.startcloud.com/{{ vendor | default('STARTcloud') }}/{{ distro | default('opnsense') }}{{ distro_version | default('25') }}-{{ vm_type | default('server') }}
===============================================================================
