[Unit]
Description=Quorum failover watchdog for reserved IP clusters
After=network-online.target remote-fs.target
Wants=network-online.target

[Service]
Type=simple
User={{ settings.vagrant_user }}
ExecStart=/usr/local/bin/failover_watchdog.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
