host = {{ openfortivpn_host }}
port = {{ openfortivpn_port }}
username = {{ openfortivpn_user }}
password = {{ openfortivpn_password }}
trusted-cert = {{ openfortivpn_trusted_cert }}
set-dns = 0
pppd-use-peerdns = 0
