---
-
  name: "Managing progress for {{ ansible_role_name }}"
  when: count_progress | default(false)
  run_once: true
  block:
    -
      name: "Incrementing global progress step counter"
      ansible.builtin.set_fact:
        global_current_progress_step: "{{ global_current_progress_step | default(0) | int + 1 }}"

    -
      name: "Including progress reporting task"
      ansible.builtin.include_role:
        name: startcloud.startcloud_roles.progress
      vars:
        _progress_role_is_setup_run: false
        current_progress_step: "{{ global_current_progress_step | default(0) }}"
        progress_description: "{{ progress_role_description | default('Processing ' + ansible_role_name) }}"

-
  name: "Block to Allow Loading of Variables without running task"
  when: run_tasks
  block:
    -
      name: "Validating required variables"
      ansible.builtin.assert:
        that:
          - git_runner_github_token != ''
          - git_runner_org != '' or git_runner_repo != ''
        fail_msg: "git_runner_github_token and either git_runner_org or git_runner_repo must be set"

    -
      name: "Determining GitHub API endpoint"
      ansible.builtin.set_fact:
        _git_runner_api_base: "{{ 'repos/' + git_runner_repo if git_runner_repo != '' else 'orgs/' + git_runner_org }}"

    -
      name: "Getting latest runner version"
      when: git_runner_version == "latest"
      block:
        -
          name: "Fetching latest runner release info"
          ansible.builtin.uri:
            url: "https://api.github.com/repos/actions/runner/releases/latest"
            method: GET
            return_content: true
          register: _git_runner_latest_release

        -
          name: "Extracting version number"
          ansible.builtin.set_fact:
            _git_runner_version: "{{ _git_runner_latest_release.json.tag_name | regex_replace('^v', '') }}"

    -
      name: "Using specified runner version"
      when: git_runner_version != "latest"
      ansible.builtin.set_fact:
        _git_runner_version: "{{ git_runner_version }}"

    -
      name: "Creating runner directory"
      ansible.builtin.file:
        path: "{{ git_runner_dir }}"
        state: directory
        owner: "{{ git_runner_user }}"
        group: "{{ git_runner_user }}"
        mode: '0755'

    -
      name: "Downloading GitHub Actions runner"
      ansible.builtin.get_url:
        url: "https://github.com/actions/runner/releases/download/v{{ _git_runner_version }}/actions-runner-linux-x64-{{ _git_runner_version }}.tar.gz"
        dest: "{{ git_runner_dir }}/actions-runner.tar.gz"
        owner: "{{ git_runner_user }}"
        group: "{{ git_runner_user }}"
        mode: '0644'

    -
      name: "Extracting runner archive"
      ansible.builtin.unarchive:
        src: "{{ git_runner_dir }}/actions-runner.tar.gz"
        dest: "{{ git_runner_dir }}"
        remote_src: true
        owner: "{{ git_runner_user }}"
        group: "{{ git_runner_user }}"

    -
      name: "Generating JIT configuration from GitHub API (Ephemeral)"
      when: git_runner_ephemeral
      ansible.builtin.uri:
        url: "https://api.github.com/{{ _git_runner_api_base }}/actions/runners/generate-jitconfig"
        method: POST
        headers:
          Authorization: "Bearer {{ git_runner_github_token }}"
          Accept: "application/vnd.github+json"
          X-GitHub-Api-Version: "2022-11-28"
        body:
          name: "{{ git_runner_name }}"
          runner_group_id: "{{ git_runner_group_id }}"
          labels: "{{ git_runner_labels }}"
          work_folder: "{{ git_runner_work_folder }}"
        body_format: json
        status_code: 201
        return_content: true
      register: _git_runner_jit_config

    -
      name: "Generating registration token from GitHub API (Persistent)"
      when: not git_runner_ephemeral
      ansible.builtin.uri:
        url: "https://api.github.com/{{ _git_runner_api_base }}/actions/runners/registration-token"
        method: POST
        headers:
          Authorization: "Bearer {{ git_runner_github_token }}"
          Accept: "application/vnd.github+json"
          X-GitHub-Api-Version: "2022-11-28"
        status_code: 201
        return_content: true
      register: _git_runner_registration_token

    -
      name: "Configuring persistent runner"
      when: not git_runner_ephemeral
      become: true
      become_user: "{{ git_runner_user }}"
      ansible.builtin.shell: |
        cd {{ git_runner_dir }}
        ./config.sh --unattended --url https://github.com/{{ git_runner_org if git_runner_org != '' else git_runner_repo }} \
          --token {{ _git_runner_registration_token.json.token }} \
          --name "{{ git_runner_name }}" \
          --labels {{ git_runner_labels | join(',') }} \
          --work {{ git_runner_work_folder }}
      args:
        executable: /bin/bash
        creates: "{{ git_runner_dir }}/.runner"

    -
      name: "Installing systemd service using svc.sh"
      become: true
      ansible.builtin.shell: |
        cd {{ git_runner_dir }}
        ./svc.sh install {{ git_runner_user }}
      args:
        executable: /bin/bash
        creates: "/etc/systemd/system/actions.runner.*.service"